.container {
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  padding: 12px;
  border: 2px solid black;
  border-radius: 8px;
}
.avatar {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.text {
  font-size: 20px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
